*{
    margin: 0;
    padding: 0;
}

.navbar{
    height: 56px;
    width: 100%;
    background-color: #0f0f0f;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.first{
    height: 56px;
    width: 169px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}

.threeline{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.threeline:hover{
    background-color: #272727;
}

.sym1{
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.youtube{
    height: 56px;
    width: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    height: 22px;
    width: 93px;
    background-image: url(img/you.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.second{
    height: 56px;
    width: 732px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbox{
    height: 40px;
    width: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    height: 40px;
    width: 536px;
    border: 1px solid #303030;
    background-color: #0f0f0f;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 16px;
}

@media(max-width: 1086px){
    .search{
        width: 83.75%;
    }
    .second{
        width: 62.61%;
    }
    .searchbox{
        width: 94.11%;
    }
    .icon2{
        margin-right: 20px;
    }
}
@media(max-width: 823px){
    .navbar{
        width: 100vb;
    }
}

.icon2{
    height: 38px;
    width: 64px;
    border: 1px solid #303030;
    background-color: #222222;
    color: #e3e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20px ;
    border-bottom-right-radius:20px ;
    border-left: 0px;
}

.voice{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
}
.voice:hover{
    background-color: #414141;
}

.third{
    height: 56px;
    width: 213.19px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    margin-left: 16px;
}

.create{
    width: 97.19px;
    height: 36px;
    background-color: #303030;
    border-radius: 18px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}
.create:hover{
    background-color: #414141;
}

.bell{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.bell:hover{
    background-color: #272727;
}

.icon3{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile{
    width: 60px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pho{
    width: 32px;
    height: 32px;
    background-image: url(img/profile.png);
    background-size: contain;
}


/* main........................................................................................................................................................................... */

.sidemenu{
    width: 64px;
    border: 1px solid #0f0f0f;
    height: 100vh;
    display: inline-flex;
    margin-top: 56px;
    position: fixed;
    flex-direction: column;
    background-color: #0f0f0f;
    color: white;
    font-size: 10px;
}
.comm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 74px;
    border-radius: 10px;
    
}
.comm:hover{
    background-color: #272727;
}
.icon4{
    width: 24px;
    height: 24px;
    margin-bottom: 6px;
}
.icon5{
    width: 24px;
    height: 24px;
    margin-bottom: 6px;
}
.icon6{
    width: 24px;
    height: 24px;
    margin-bottom: 6px;
}
.icon7{
    width: 24px;
    height: 24px;
    margin-bottom: 6px;
}

.sidemenu2{
    width: 240px;
    height: 100vh;
    border: 1px solid #0f0f0f;
    display: none;
    margin-top: 56px;
    position: fixed;
    background-color: #0f0f0f;
}

.block1{
    width: 240px;
    height: 410px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-top: 12px;
    background-color: #0f0f0f;
}

.shorts2{

    width: 204px;
    height: 40px;
    padding-left: 12px;
    /* padding-right: 12px; */
    background-color: #0f0f0f;
    display: flex;
}

.i{
    height: 40px;
    width: 48px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;

}

.shicon2{
    height: 24px;
    width: 24px;
    
}

.shtext{
    height: 40px;
    width: 132px;
    color: white;
    display: flex;
    align-items: center;
    font-size: medium;

}

.con{
    width: 500px;
    height: 1000px;
    margin: 250px;
    border: 2px solid black;
    display: inline-flex;
    margin-right: 0;
}

.line{
    height: 0.1px;
    border-color: #000000;
    margin-top: 12px;
    margin-bottom: 12px;
}
